baseURL = 'https://blog.xingda.space/'
# languageCode = 'zh-cn'
title = "Zhu Xingda"
theme = "mainroad"

defaultContentLanguage = 'zh-cn'
defaultContentLanguageInSubdir = false
[languages]
  [languages.zh-cn]
    languageCode = 'zh-cn'
    languageName = '中文'
    weight = 1

[menus]
  [[menus.main]]
    name = '主页'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    name = '技术'
    pageRef = '/tech'
    weight = 20
  [[menus.main]]
    name = '笔记本'
    pageRef = '/note'
    weight = 20
  [[menus.main]]
    name = '生活'
    pageRef = '/life'
    weight = 30

[Params]
  copyright = "Zhu Xingda"
  post_meta = ["author", "date", "categories"]
  readmore = false
  toc = true
  pager = true
  dateformat = "2006-01-02"
#   mainSections = ["post", "blog", "news"]
  mathjax = true

[Params.author.name]
  name = "Zhu Xingda"

[Params.logo]
#   image = "favicon.ico"
  title = "上下而求索"
  subtitle = "朱兴达的个人博客"
  backgroundImage = "/img/background.JPG"

[Params.style.vars]
  highlightColor = "#0a55a7"
  fontFamilyPrimary = "-apple-system,BlinkMacSystemFont,'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif"

[Params.sidebar]
  home = "right"
  list = "right"
  single = false
  widgets = ["categories", "taglist", "recent", "social"]

[Params.widgets.social]
  cached = false # activate cache if true
  # Enable parts of social widget
#   facebook = "username"
#   twitter = "username"
#   instagram = "username"
#   linkedin = "username"
#   telegram = "username"
  github = "ZhuXingda"
  email = "zhuxingda.official@gmail.com"

[[Params.widgets.social.custom]]
  title = "Youtube"
  url = "https://youtube.com/user/username"
  icon = "svg/youtube.svg" # Optional. Path relative to "layouts/partials"
  rel = "noopener noreferrer" # Set to false to remove the rel attribute

[[Params.widgets.social.custom]]
  title = "Bilibili"
  url = "https://space.bilibili.com/44425167"
  icon = "svg/bilibili.svg" # Optional. Path relative to "layouts/partials"
  rel = "noopener noreferrer" # Set to false to remove the rel attribute

[Params.Gitalk]
  clientID = "5e216fcfdd8cdb462b85"
  clientSecret = "10659215d325c41513a047c07f576e345e697b3b"
  repo = "zhuxingda.github.io"
  owner = "ZhuXingda"

[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.renderHooks]
      [markup.goldmark.renderHooks.image]
        enableDefault = true
    [markup.goldmark.extensions.passthrough]
      enable = true